@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.modal {
  display: none;
  opacity: 0;
}
.modal.active {
  display: flex;
  animation: showModal 0.5s;
  opacity: 1;
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:where(input, textarea) {
  @apply outline-[#FFC200];
}

.print-hidden {
  display: none;
}

@media print {
  .print-hidden {
    display: block;
  }
}

.focus-left-container {
  @apply border-yellow-500;
}
.focus-bottom-container {
  @apply border-yellow-500;
}

.shadow-bottom-container {
  @apply shadow-yellow-500;
}
